@import "base/utils";
@import "base/functions";
@import "base/constants";
@import "base/mixins";

article.lb-post {
	padding-left: 20px;
}

.lb-items-container {
	&:before {
		content: none !important;
	}
}

.lb-post-metadata {
	font-size: 14px !important;
	margin-left: 0 !important;
	text-transform: none !important;

	&__time {
		display: none !important;
	}
}

.lb-post--highlighted {
	.lb-post-metadata__date {
		&::before {
			color: $color-highlight;
			content: "\2605";
			margin-right: 8px;
		}
	}
}