@import "base/fonts";
@import "base/functions";
@import "base/utils";
@import "base/mixins";
@import "base/constants";
@import "components/post";

.lb-wrapHtml {
	font-family: $font-tabletgothic;
	font-size: 1rem;
	line-height: $base-line-height;
	margin: 0 auto;
	max-width: $break-desktop-min;

	* {
		box-sizing: border-box;
	}
}

.pin-icon {
	width: 10px;
}

.highlight-icon {
	width: 14px;
	margin-left: 0px;
}

.mod--displaynone {
	display: none
}
