.header-bar {
  @include clearfix();
  min-height: em(40px);
  &__highlight {
    text-indent: -9999px;
    color: #999999;
    width: 32px;
    background-image: url("../images/highlighted.svg");
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: center;
    border: 1px solid $zon_grey;
    border-radius: 2px;
    padding: 6px 15px;
    margin-top: 0px;
    margin-left: 0px;
    @include hover() {
      border: 1px solid #cccccc;
      outline: none;
    }
    &--active {
      background-color: #f2f5f8;
      border: 1px solid #cccccc;
    }
  }
}
