.header-bar {
	> * {
		// provide wrapper for aligning menu-items /w content
		> * {
			display: block;
			margin: auto;
			max-width: 660px;
		}
	}
	&__divider {
		&--yellow {
			background-color: #ffe246;
			height: 10px;
		}
	}
	&__interaction {
		@include font-smoothing();
		background-color: $grey--mid;
		color: #bfbfbf;
		font-size: 14px;
		margin-bottom: 1px;
		padding: 0 14px;
		white-space: nowrap;
	}
	// @TODO modularize template and bemify
	&__align-wrapper {
		// enables margin-left: auto for highlight-button
		display: flex;
		align-items: baseline;
		> span {
			padding: 14px 0;

			@include hover() {
				cursor: pointer;
				color: #fff;
			}

			&[class$="--active"] {
				color: #fff;
			}
		}
	}
	.sorting-bar__order {
		margin-right: 24px;

		&--active {
			text-decoration: underline;
		}

		@include respond-min($break-tablet-min) {
			margin-right: 32px;
		}
	}
	&__highlight {
		&--active span {
			text-decoration: underline;
		}

		@include respond-max($break-phablet-min) {
			border-left: 1px solid #ccc;
			margin: 0 -14px 0 auto;
			min-width: 48px;
			text-align: center;

			span {
				display: none;
			}
		}
	}
}