.lb-post-metadata {
	@include font-smoothing;
	margin-left: em(-22px);
	margin-bottom: em(4px);
	@include respond-min($break-tablet-min) {
		margin-left: em(-39px);
	}
	&__status {
		&--pinned {
			margin-right: em(8px);
			display: inline-block;
			width: em(24px);
			height: em(24px);
			background-image: url('../images/pinned.svg');
			background-size: 40%;
			background-position: 49%;
			background-color: #444;
			background-repeat: no-repeat;
			border-radius: 4px;
		}
		&--highlighted {
			color: $color-highlight;	
		}
	}
	&__time {
		font-weight: bold;
		background-color: $grey--mid;
		padding: em(8px 6px 6px 10px);
		border-radius: em(4px);
		color: $grey--light;
		margin-right: em(8px);
	}
	&__date {
		text-transform: uppercase;
	}
}

.sticky {
	.lb-post-metadata {
		line-height: 1.5;
		margin-left: 0;
		padding-top: em(8px);
		&__status {
			position: relative;
			top: em(5px);
		}
		&__time {
			font-weight: inherit;
			background-color: inherit;
			padding: inherit;
			border-radius: inherit;
			color: inherit;
			margin-right: inherit;
			&:after {
				position: relative;
				display: inline-block;
				top: em(-2px);
				margin: em(0 4px);
				content: "|";
				color: $charcoal;
				font-weight: 600;
				margin-top: em(-25x)
			}
		}
	}
}