$author-avatar-width: em(42px);

// center content in posts
.lb-items-container {
	@include respond-min($break-tablet-min) {
		@include center-content($zon-desktop-content-width);
	};
}

.lb-item {
	margin-bottom: em(24px);
	// @ TODO override embed's inlined link-color
	@include default-article-textlink();
	@include respond-min($break-tablet-min) {
		margin-left: 16px; // align content on desktop, use px deliberately to avoid interference with font-size
	}
	a {
		text-decoration: none;
	}
	&__sticky-wrapper {
		background-color: #fff;
		position: relative;
		padding: em(16px 18px 8px);
		margin-bottom: em(16px);
		@include respond-min($break-tablet-min) {
			@include center-content($zon-desktop-content-width);
		}
	}
}

.lb-post {
	position: relative;
	background-color: $grey--light;
	margin-bottom: em(20px);
	padding: em(24px 24px 8px);
	.text {
		font-family: $font-franziska;
		font-size: em(18px);
		line-height: 1.4;
		margin-bottom: em(20px);
		@include respond-min($break-tablet-min) {
			font-size: em(20px);
		}
	}
	&:not(:last-child):not(.empty-message) {
		.lb-items-container{
			&:before {
				content: '';
				position: absolute;
				width: 2px;
				top: em(70px);
				height: calc(100% - 32px);
				background-color: #acacac;
				margin-left: em(-16px);
				z-index: 1;
				@include respond-min($break-tablet-min) {
					top: em(100px);
					margin-left: em(-12px);
				}
			}
		}
	}
	@include respond-min($break-tablet-min){
		padding-top: em(54px);
		padding-bottom: em(8px)
	}
}

.lb-post-header {
	color: #4f4f4f;
	letter-spacing: $zon-letter-spacing-s;
	margin-bottom: em(20px);
	position: relative;
	line-height: $author-avatar-width;
	@include respond-min($break-tablet-min){
		display: flex;
		align-items: baseline;
		@include center-content($zon-desktop-content-width);
	}
}

.lb-author {
	margin-left: auto;
	&__name {
		font-weight: bold;
	}
	&__avatar {
		display: none;
		border-radius: 50%;
		overflow: hidden;
		background: #B9B9B9;
		background-size: cover;
		border: 1px solid #f4f4f4;
		margin-left: 20px;
		width: $author-avatar-width;
		height: $author-avatar-width;
	}
}

@include respond-min($break-phablet-min) {
	.lb-post-header {
		@include respond-min($break-tablet-min){
			@include center-content($zon-desktop-content-width);
		};
	}
	.lb-post-updated {
		@include respond-min($break-tablet-min){
			@include center-content($zon-desktop-content-width);
		};
	}
	.lb-author {
		&__name {
			display: inline-block;
		}
		&__avatar {
			display: inline-block;
			vertical-align: middle;
		}
	}
}

.sticky {
	.lb-item {
		margin-left: 0;
	}
	.lb-post {
		margin-bottom: 0;
		padding: em(8px);
		&:first-child {
			padding-top: em(32px);
		} 
		&:last-child {
			margin-bottom: em(40px);
		}
	}
	.lb-post-header {
		margin-bottom: em(8px);
		padding-left: em(16px);
	}
	// hide vertical line
	.lb-items-container {
		&:before {
			display: none;
		}
	}
}