.lb-quote {
    margin: auto;

    p {
        font-family: $font-franziska;
        font-style: italic;
        font-size: em(22px);
        margin: 0 0 1em;

        &:before {
          content: "\201E ";
        }

        &:after {
          content: " \201C";
        }
    }

    cite {
        font-size: em(16px);
        font-style: normal;
        font-weight: bold;
    }

    .sticky & {
        text-align: center;
    }

    @include respond-min($break-tablet-min) {
        max-width: 528px;
        text-align: center;

        p {
            font-size: em(24px);
        }
    }
}
