.lb-item.quote {
    p {
        font-family: $font-franziska;
        font-weight: normal;
        font-style: italic;
        font-size: em(24px);
        &:before,
        &:after {
            content: '"';   
        }
    }
    @include respond-min($break-tablet-min) {
        p {
            font-size: em(36px);
        }
        h4 {
            font-size: em(24px);
        }
    } 
}
