$share_items_list: facebook twitter email permalink;

.lb-sharing {
	display: flex;
	&__list {
		padding: 0;
		list-style: none;
		margin-left: auto;
	}
	&__item {
		width: em(24px);
		height: em(24px);
		display: inline-block;
		@include hover {
			opacity: 0.75;
		};
		&:not(:last-child) {
			margin-right: em(5px);
		}
		@each $share_icon in $share_items_list {
			&--#{$share-icon} {
				background-image: url('../images/share_#{$share_icon}.svg');
				background-size: cover;
				background-repeat: no-repeat;
			}
		}
		> * {
			width: 100%;
		}
		a {
			display: inline-block;
			height: 100%;
		}
	}
}
