$share_items_list: facebook twitter email permalink;

.lb-sharing {
	display: flex;
	@include respond-min($break-tablet-min) {
		padding-left: 16px; // align content on desktop, use px deliberately to avoid interference with font-size
	}
	&__list {
		padding: 0;
		list-style: none;
		margin-left: auto;
	}
	&__item {
		width: em(24px);
		height: em(24px);
		display: inline-block;
		@include hover {
			opacity: 0.75;
		};
		&:not(:last-child) {
			margin-right: em(18px);
		}
		@each $share_icon in $share_items_list {
			&--#{$share-icon} {
				background-image: url('../images/share_#{$share_icon}.svg');
				background-size: cover;
				background-repeat: no-repeat;
			}
		}
		> * {
			width: 100%;
		}
		a {
			display: inline-block;
			height: 100%;
		}
	}
	@include respond-min($break-tablet-min){
		@include center-content($zon-desktop-content-width);
		display: block;
	}
}

.sticky {
	.lb-sharing {
		padding-left: 0;
	}
}