.sorting-bar {
  margin-right: 10px;
  &__order {
    @include clearfix();
    float: left;
    margin-right: em(18px);
    padding-bottom: em(4px);
    cursor: pointer;
    color: #999999;
    font-size: 1em;
    transition: color .1s ease-out;
    &--active {
      color: $black;
      border-bottom: 2px solid $black;
    }
    @include hover(){
      color: $black;
      border-bottom: 2px solid $black;
    }
    @include respond-min($break-tablet-min){
      margin-right: em(32px);
    }
  }
}
